# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Otros
*.log
.env
*workspace